@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?Open+Sans&display=swap');

html{
    scroll-behavior: smooth;
}

body{ 
    margin: 0;
    padding:0;
}

.kaushan-script{
    font-family: 'Kaushan Script';
}
.belleza{
    font-family: 'Belleza', sans-serif;
}
.opensans{
    font-family: "Open Sans", sans-serif;
}
.hero-image{
    height: 700px;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.harmonogram-item::after{
    
    border-left: solid 2px #e3c364;
    
}




.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #e3c364;
height: 52rem; 
    left: 50%;
    margin-left: -1px;
  }